.listings {
  background: $offwhite;
  overflow: hidden;
  height: 100%;
  display: inline-block;
  padding: 20px;
  margin-left: 30%;
  min-width: 710px;
  .listings-options {
    width: 100%;
    height: 100px;
    display: inline-block;
    .search {
      padding: 10px;
      padding-left: 23px;
      display: inline-block;
      width: 50%;
      input {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 1.5rem;
        font-weight: 200;
        outline: none;
        color: $gold;
        border: 0;
        border-bottom: 1px solid $gold;
        background: transparent;
        width: 100%;
        font-family: 'Lora', serif;
        &::placeholder {
          color: $gold;
          letter-spacing: 1px;
        }
      }
      p {
        font-size: 0.7rem;
      }
    }
    .sortby {
      display: inline-block;
      padding: 10px;
      padding-left: 0;
      width: 25%;
      vertical-align: top;
      position: relative;
      margin-top: 20px;
      .select-wrapper {
        position: relative;
        &::after {
          content: '\f0d7';
          font-family: 'FontAwesome';
          position: absolute;
          top: 0px;
          left: 100px;
          z-index: 5;
          color: $white;
          pointer-events: none; // to allow clicking on arrow
        }
        select {
          color: $white;
          position: absolute;
          top: -10px;
          left: 20px;
          margin-right: 10px;
          border-radius: 0;
          border: 0;
          appearance: none;
          background: $darkgrey;
          -webkit-appearance: none;
          -ms-appearance: none;
          -moz-appearance: none;
          padding: 5px;
          height: 30px;
          width: 100px;
        }
      }
    }
    .views {
      display: inline-block;
      padding: 10px;
      float: right;
      width: 25%;
      margin-top: 20px;
      .fa-bars {
        cursor: pointer;
        display: none;
        margin-left: 10px;
        color: $gold;
      }
      i,
      span {
        margin-right: 5px;
      }
      i {
        font-size: 1.1rem;
        &:hover {
          cursor: pointer;
        }
        &:nth-child(3) {
          margin-right: 20px;
        }
      }
    }
  }
  .listings-area {
    .listings-item {
      margin-top: 20px;
      padding: 10px;
      cursor: pointer;
      .listings-img {
        transition: all 0.3s ease-in-out;
        position: relative;
        img {
          max-height: 80%;
          min-height: 80%;
          width: 100%;
          max-width: 100%;
        }
        .overlay {
          position: absolute;
          padding: 15px;
          background: $gold;
          color: $white;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          overflow: hidden;
          transition: all 0.3s ease-in-out;
          &:hover {
            opacity: 0.9;
          }
          p {
            margin-bottom: 5px;
            font-family: 'Open Sans', sans-serif;
            sup {
              font-size: 75%;
              line-height: 0;
              vertical-align: baseline;
              position: relative;
              top: -0.5em;
            }
          }
        }
      }
      .listings-caption {
        padding: 10px;
        font-weight: 200;
        background: $white;
        span {
          float: right;
        }
        &::before {
          content: '\f041';
          font-family: 'FontAwesome';
          margin-right: 5px;
        }
      }
    }
  }
  .paginate {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    height: 56px;
    position: relative;
    ul {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -145px;
      li {
        display: inline-block;
        padding: 20px;
        background: $white;
        &:hover {
          cursor: pointer;
          background: $gold;
        }
        &.active {
          background: $gold;
        }
      }
    }
  }
}

// tablet
@media screen and (max-width: 1000px) {
  .listings {
    margin-left: 0;
    min-width: 100%;
    .listings-options {
      .views {
        .fa-bars {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 750px) {
  .listings {
    .listings-options {
      margin-bottom: 50px;
      .search {
        width: 100%;
        display: block;
      }
      .sortby {
        width: 50%;
        display: inline-block;
        select {
          position: relative;
        }
      }
      .views {
        display: inline-block;
        width: 170px;
      }
    }
    .listings-area {
      .listings-item {
        .listings-caption {
          font-size: 0.7rem;
        }
      }
    }
  }
}