.header {
  background: $white;
  height: 80px;
  padding: 35px 30px; //border-bottom: 1px solid #333;
  -webkit-box-shadow: 0 3px 5px 0 rgba(238, 238, 238, 1);
  -moz-box-shadow: 0 3px 5px 0 rgba(238, 238, 238, 1);
  box-shadow: 0 3px 5px 0 rgba(238, 238, 238, 1);
  .nav-brand {
    float: left;
    font-family: 'Lora', serif;
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: $gold;
  }
  nav {
    float: right;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 20px;
      a {
        text-decoration: none;
        color: $blackfont;
        transition: all 0.3s ease-in-out;
      }
      .btn-register {
        padding: 10px;
        border-radius: 0;
        color: $white;
        background: darken($btngrey, 20%);
        &:hover {
          color: $white;
          background: $gold;
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 451px) {
  .header {
    font-size: 0.9rem;
  }
}