@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import 'reset';
@import 'variables';
@import 'grid';
@import 'nav';
@import 'filter';
@import 'listings';

* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.body-wrapper {
  margin-bottom: -200px;
  position: relative;
}

footer {
  height: 200px;
  background: $purple;
  color: $white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -528px;
  padding: 40px;
}