@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import 'reset';
@import 'variables';
@import 'grid';
@import 'nav';
@import 'filter';
@import 'listings';
* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  color: $blackfont;
  height: 100%;
  position: relative;
  margin: 0;
  background: $offwhite;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.body-wrapper {
  position: relative;
  margin-bottom: -56px;
}

// Mobile menu
#mobile-menu {
  background: $lightgrey;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 999;
  transform: translate3d(0, -100%, 0);
  transition: all 0.7s ease-in-out;
  opacity: 0;
  overflow: scroll;
}

.menu-active {
  #mobile-menu {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.close {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 999;
  .st0 {
    stroke: $gold;
  }
  &:hover {
    cursor: pointer;
  }
}